@model Category

@*--- Comment : Create a form with POST method ---*@

<form method="post" asp-action="Edit">

	<div class="p-3 border mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Category</h2>
			<hr />
		</div>
		<div class="mb-3">
			<div asp-validation-summary="All"></div>
			<label asp-for="Name"></label>
			@*--- Comment : GET value from the Input for Category.Name Or obj.Name ---*@
			<input asp-for="Name" class="form-control" />
			
			@*Comment : send err if not validate*@
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="DisplayOrder"></label>
			@*--- Comment : GET value from the Input for Category.DisplayOrder Or obj.DisplayOrder With asp-for ---*@
			<input asp-for="DisplayOrder" class="form-control" />

			@*--- Comment : send err if not validate ---*@
			<span class="text-danger" asp-validation-for="DisplayOrder" ></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
		<a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back To List
		</a>
	</div>
</form>

@section Scripts{
@{
	<partial name="_ValidationScriptsPartial" />
}
}